
@import "tailwindcss";

@theme {
  
  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;
 --color-light-hover: #fcf4ff;
 --color-dark-hover:#00002F;
  --grid-template-columns-auto: repeat(auto-fit, minmax(200px, 1fr));
  --background-image-footer-img: url('/footer-bg-color.png');
  --color-dark-theme:#11001F;
  
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-background: #ffffff;
  --color-foreground: #171717;
  
  --font-sans: 'Outfit', sans-serif;
  --font-mono: monospace;
}



* {
  font-family: var(--font-sans);
}
